.title-bg{
	background-image:url(../assets/img/bg01_pc_product.png);
	height: 10rem;
}
.title-bg2{
	
	background: url(../assets/img/mobile/bg01_mob_product.png);
	background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  background-size: cover;
}
.title-bg3{
	
	background: url(../assets/img/mobile/bg02_mob_product.png);
	background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  background-size: cover;
}
.title{


	
	

	height: 36px;
	font-size: 24px;
	 font-family: "Noto Sans SC";
	font-weight: bold;
	color: #FFFFFF;
	line-height: 36px;
}
.title-en{
	

height: 20px;
font-size: 14px;
 font-family: "Noto Sans SC";
font-weight: 400;
color: #FFFFFF;
line-height: 20px;
}
.scroll-box{
	overflow-x:scroll;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	background-color: #000000;
}
.scroll-box::-webkit-scrollbar {
        display: none;
    }
	.product{
	
		height: 211px;
		background: #171820;
		border-radius: 10px;
		margin:10px;
		
	}
	.btn-right{
		width: 153px;
		height: 43px;
		background: linear-gradient(324deg, #1DFAFF 0%, #7550B7 27%, #FF5CB0 72%, #FFC52D 100%);
		border-radius: 27px;
		text-align: center;
	  
	   font-size: 16px;
	 font-family: "Noto Sans SC";
	   color: #FFFFFF;
	   line-height: 43px;
	  
	}
	.hover:active{
		opacity: 0.7;
	}
	.box-item{
		border-top:1px solid rgba(255,255,255,0.5);
		
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		padding:0px 10px;
		justify-content: space-between;
	
		font-size: 14px;
		 font-family: "Noto Sans SC";
		color: #FFFFFF;
		
	}
	.big-title{
		
		height: 140px;
		font-size: 60px;
	/* 	font-family: NotoSansCJKsc-Black, NotoSansCJKsc; */
	    font-family: "Noto Sans SC";
		font-weight: 900;
		color: #FFFFFF;
		line-height: 70px;
		word-break: normal;
	}
	.big-title2{
		
	
		height: 47px;
		font-size: 28px;
	   font-family: "Noto Sans SC";
		font-weight: bold;
		color: #FFFFFF;
		line-height: 47px;
	/* 	width: 300px; */
		word-break: normal;
		
	}
	.small-title{
		;
		height: 36px;
		font-size: 24px;
	 font-family: "Noto Sans SC";
		font-weight: 900;
		color: #FFFFFF;
		line-height: 36px;
	}
	.small-title-en{
		
		height: 20px;
		font-size: 14px;
		 font-family: "Noto Sans SC";
		font-weight: 900;
		color: #FFFFFF;
		line-height: 20px;
	}
	.content{
		width: 100%;
	
		font-size: 14px;
		 font-family: "Noto Sans SC";
		font-weight: 400;
		color: rgba(255, 255, 255, 0.7);
		line-height: 20px;
		text-align: left;
		overflow: hidden;
		
	}
	.point{
		width: 9px;
		height: 9px;
		
		border: 1px solid #FFFFFF;
		border-radius: 4.5px;
	}
	.point-check{
		background: #FFFFFF;
	}
	.line{
		width: 1px;
	
		background-color: #fff;
	}
	.line2{
		width: 1px;
		background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.6),rgba(255,255,255,0.3),rgba(255,255,255,0));
	}
	.section1{
		/* background: url("../assets/img/mobile/bg01.png");
		
		background-position: center;
		  background-repeat: no-repeat;
		  background-attachment: scroll;
		  background-size: 100% 100%; */
		padding:0 1rem;
	/* 	width: 80%; */
		 z-index: 100;
		 background: transparent;
	}
	.section2{
		/* background: url("../assets/img/mobile/bg02.png");
		
		background-position: center;
		  background-repeat: no-repeat;
		  background-attachment: scroll;
		  background-size: cover; */
		   padding:0 1rem;
		   z-index: 100;
		   background: transparent;
	}
	.bg-1{
		position: absolute;
		
		width: 100vw;
		height: 995px;
		top:0;
		left:0;
		background: transparent;
		z-index: 0;
	}
	.bg-2{
		position: absolute;
		width: 100vw;
		height: 995px;
		top:995px;
		left:0;
		background: transparent;
		z-index: 0;
	}
	.bg-3{
		position: absolute;
		width: 100vw;
		height: 995px;
		top:1990px;
		left:0;
		background: transparent;
		z-index: 0;
	}
	.title2{
	
		height: 36px;
		font-size: 24px;
		 font-family: "Noto Sans SC";
		font-weight: bold;
		color: #FFFFFF;
		line-height: 36px;
	}
	.title2-en{
	
		height: 20px;
		font-size: 14px;
		 font-family: "Noto Sans SC";
		font-weight: 400;
		color: #FFFFFF;
		line-height: 20px;
		padding-top:5px;
	}
	.title2-text{
		width: 295px;
	    padding-top:20px;
		padding-bottom: 20px;
		font-size: 14px;
	 font-family: "Noto Sans SC";
		font-weight: 400;
		color: rgba(255, 255, 255, 0.7);
		line-height: 28px;
	}
	.small-text{
	
		height: 20px;
		font-size: 13px;
	 font-family: "Noto Sans SC";
		font-weight: 400;
		color: rgba(255, 255, 255, 0.8);
		line-height: 20px;
		text-align: left;
	}
	.big-text{
		
		height: 20px;
		font-size: 14px;
	 font-family: "Noto Sans SC";
		font-weight: bold;
		color: #FFFFFF;
		line-height: 20px;
	}
	.footer-text{
		
		height: 18px;
		font-size: 12px;
	 font-family: "Noto Sans SC";
		font-weight: 400;
		color: rgba(255, 255, 255, 0.7);
		line-height: 18px;
		margin: 15px 30px 15px 30px;
	}
	
	.co-title{
	
		height: 36px;
		font-size: 24px;
		 font-family: "Noto Sans SC";
		font-weight: bold;
		color: #FFFFFF;
		line-height: 36px;
	}
	.co-sub-title{
	
	height: 29px;
	font-size: 20px;
 font-family: "Noto Sans SC";
	
	font-weight: 400;
	color: #FFFFFF;
	line-height: 29px;
	}
	.co-text{
		
	
	height: 20px;
	font-size: 13px;
	 font-family: "Noto Sans SC";
	font-weight: 400;
	color: #FFFFFF;
	opacity: 0.5;
	line-height: 20px;
	margin-bottom: 16px;

	}
	.re-item{
		width: 343px;
		height: 239px;
		background: #171820;
		border-radius: 10px;
		display: flex;
        flex-direction: column;
		justify-content: space-around;
		padding: 20px;
		margin-top:30px;
	}
	
	.re-item .item-title{
	
	
	height: 29px;
	font-size: 20px;
	 font-family: "Noto Sans SC";
	font-weight: bold;
	color: #FFFFFF;
	line-height: 29px;	
	}
	.re-item .item-price{
	
	

	height: 29px;
	font-size: 20px;
	 font-family: "Noto Sans SC";
	font-weight: bold;
	color: #57BEF1;
	line-height: 29px;
	}
	.re-item .item-tags{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	}
	.re-item .item-tag{
	
	
	min-height: 14px;
	font-size: 14px;
 font-family: "Noto Sans SC";
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	line-height: 14px;
	margin: 5px 0px;
	
	}
	.re-item .item-part{
	

	height: 15px;
	font-size: 10px;
	 font-family: "Noto Sans SC";
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	line-height: 15px;
	}
.header-title{

	height: 36px;
	font-size: 24px;
	 font-family: "Noto Sans SC";
	font-weight: 900;
	color: #FFFFFF;
	line-height: 36px;
}
.header-title-en{
	
	height: 20px;
	font-size: 14px;
	 font-family: "Noto Sans SC";
	font-weight: 900;
	color: #FFFFFF;
	line-height: 20px;
}


.display-area{
	position: fixed;
	top:20%;
    display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
	width: 100%;
 }
 .display-box{
	width: 90%;
	height: 100%;
	background: linear-gradient(360deg, #151822 0%, #1D181B 100%);
	border-radius: 16px; 
	/* overflow-y: scroll; */
	text-transform:none !important;
	font-family: Noto Sans SC;
	font-style: normal;
	font-size: 13px;
	
	
	align-items: center;
	 text-indent: 10px;
	
	color:rgba(255,255,255,0.7);
	padding:10px;
 }
 .display-box p{
	 margin:0;
	 padding:0;
	  margin-bottom: 30px;
 }
 .display-box-title{
	 font-family: Noto Sans SC;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 30px;
	 word-break: normal;
	 line-height: 46px;
	 width: 100%;
	 text-align: center;
	 margin-top:30px;
	 color: #fff;

 }
 .display-box-title-en{
	 font-family: Noto Sans SC;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 20px;
	 width:100%;
	 text-align: center;
	 text-transform: uppercase;
	 margin-top:10px;
	 margin-bottom:30px;
	 
	 color: #FFFFFF;
 }
 .display-box-subtitle{
	 color: #FFFFFF;
	 font-weight: bold;
	 font-size: 16px;
	 line-height: 23px;
	 margin-bottom: 30px;
 }